@import url("https://fonts.googleapis.com/css2?family=Sarala&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sarala", sans-serif;
  flex-direction: column;
}

body {
  background-color: #cfc3c3;
  display: flex;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.redesSociais {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.redesSociais:hover {
  border: 1px solid #f8eeee;
}

.gitHub {
  height: 379px;
  width: 300px;
  background: #c2cac3;
  border-radius: 10px;
  transition: brackground 0.8s;
  overflow: hidden;
  background: #090a09;
  box-shadow: 0 70px 63px -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.gitHub :hover {
  background: #0e0d0d;
}

span {
  position: absolute;
  margin-left: 40px;
  height: 150px;
  width: 200px;
  color: #f5f5ec;
  top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  font-size: 50px;
}
